.heightInc{
  height: 800px;
}

.teamIntro {
  color: #767676;
  font-family: Open Sans;
  font-size: 1.5em;
  text-align: center;
}

.aboutParagraph {
  font-family: Open Sans;
  font-size: 1.5em;
}
