.column {
  width: 40%;
  padding: 10px;
}
.border-1{
  border-style: solid;
  border-width: 1px;
  border-color: 00005F;
}
.heightInc{
  height: 800px
}
.widthDec{
  width:60%
}
.conclusion{
  text-align: left;
  font-size: 17px;
}
.pictureCorrection{
  height: 600px
}
.imgCorrection{
  vertical-align: middle;
}
.separator{
  background-color:#F0F0F0;
}
